<div class="jumbotron footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img class="img-fluid" src="http://img.clipartfest.com/9f020cc8399236958b65451602db6297_netflix-netflix-clipart-png_2662-900.png"/>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-4">
            <p class="title">CONTACT</p>
          </div>
          <div class="col-4">
            <p class="title">GET INVOLVED</p>
          </div>
          <div class="col-4">
            <p class="title">FOLLOW US</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p class="text">
              Campeche 96<br>
              Col. Roma Sur<br>
              Del. Cuauhtémoc<br>
              <br>
              Tél: 5528963130<br>
              jorandradefig@gmail.com<br>
            </p>
          </div>
          <div class="col-4">
            <p class="text">
              Fork my projects on GitHub
            </p>
            <br>
            <button type="button" class="btn btn-secondary">
              <a target="_blank" href="https://github.com/jorandradefig">Take a look</a>
            </button>
          </div>
          <div class="col-4">
            <p class="text">
              <a class="d-flex align-items-center" target="_blank" href="https://twitter.com/jorandradefig">
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> <p>Twitter</p>
              </a>
              <a class="d-flex align-items-center" target="_blank" href="https://www.facebook.com/jorandradefig">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> <p>Facebook</p>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <p class="copyright text-center">© All rights reserved</p>
  </div>
</div>
